.navbar_img{
    display: inline;
    height: 100px;

}

.navbar_container{
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr 1fr 1fr 1fr;
    align-items: center;
    background-color: rgba(34, 34, 34, 0.76);
    position: fixed;
    width: 100%;
    top: 0px;
    border-bottom: 1px solid white;
    color: white;
    justify-items: center;
}

.navbar_name{
    display: inline;
    bottom: 50px;
    font-size: 40px;
    justify-self: start;
    font-family: 'Squada One';
}


.navbar_links{
    padding: 10px 10px;
    text-decoration: none;
    font-family: 'Asap', sans-serif;
}

.navbar_container a{
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar_container a:hover{
    
    border-bottom: 3px solid white; 
}

.navbar_container a.active,
.navbar_container a:active{
    font-weight: bold;
    color: brown;
    background-color: white;
}