.navbar_img{
    display: inline;
    height: 100px;

}

.navbar_name{
    display: inline;
    bottom: 50px;
    font-size: 40px;
    /* text-align: center; */
    /* align-items: center; */
}

.navbar_container{
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr 1fr 1fr 1fr;
    /* text-align: center; */
    align-items: center;
    background-color: rgba(228, 228, 228, 0.808);
}