.card{
    width: 85%;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    color: white;
    margin: 10px;
    align-self: center;
    justify-self: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 0px 10px 10px 0px;
    font-family: 'Asap', sans-serif;
    transition: all 0.3s;
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.795);
}

.card_product{
    height: 300px;
}

.card_right{
    display: grid;
    text-align: left;
}

.card_name{
    font-size: 30px;
    padding: 10px 0px;
    display: inline;
}

.card_price{
    display: inline;
    color: brown;
    font-family: 'Playball', cursive;
    font-size: 25px;
}


.card_info{
    font-size: 10px;
    padding: 20px 60px 10px 0px;
    font-size: 10px;
}


.buy{
    background-color: brown;
    margin: 35px 0px;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    justify-self: start;
    align-self: flex-end;
    cursor: pointer;
    transition: all 0.3s;
}

.buy:hover{
    background-color: #C20500;
}

.veg{
    color: green;
}

.non{
    color:red
}

.egg{
    color: yellow;
}