.checkout{
    align-items: center;
    text-align: center;
    font-family: 'Asap', sans-serif;
    
}

.back{
    background-image: url('../../background/wine.jpg');
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.checkout_name{
    color: brown;
    font-size: 50px;
    /* text-align: center; */
}

.checkout_input{
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
    width: 95%;
    border: none;
    border-bottom: 1px solid brown;
    color: brown;
    font-family: 'Asap', sans-serif;
}

.checkout_input_cont{
    padding: 10px;
}

.checkout_order{
    background-color: brown;
    color: white;
    margin: 10px 100px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.checkout_order:hover{
    background-color: #C20500;
}

.checkout_cancel{
    background-color: white;
    color: black;
    margin: 10px 100px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.checkout a{
    color: black;
    text-decoration: none;
}
