.menu{
    margin: 120px 0px;

}

.meal_name{
   
    font-size: 50px;
    color: white;
    padding: 10px;
    padding-left: 45px;
    background-color: brown;
}

.menu_cards{
   margin-top: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.child_modal{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.xyz{
text-align: right;
}

.modal_image{
    width: 100%;
    border-radius: 10px;
}

.modal_item{
    color: white;
    font-size: 40px;
}

.modal_price{
    color: white;
    align-self: flex-start;
}
